# WhatsApp Meta API
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_TOKEN=
META_TOKEN=
WHATSAPP_VERIFY_TOKEN=

# Security
MASTER_KEY=

# Firebase
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

# AI
API_KEY=
